/*
Global styles
*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
h1{
    font-size: 3em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}
body{
    font-family:'Roboto Condensed', sans-serif;
}
.hero{
    background: linear-gradient(to bottom right, rgb(146, 146, 230),rgb(110, 245, 128));
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:black;
}
/*Navigation bar*/
.menu{
    width:100%;
    height: 40px;
    background: rgb(250, 250, 39);
}
.menu ul{
    text-align: center;
} 
.menu ul li{
    list-style:none;
    display: inline;
}
.menu ul li a{
    text-decoration: none;
    color:black;
    display: inline-block;
    line-height: 40px; /* line height is equal to parent height nd here height of menu is 40px too*/
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
}
/* Services section*/
.services{
    width: 100%;
    background:rgb(235, 231, 231);
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.col-wrapper{
    width:100%;
    margin: auto;
    padding-top: 50px;
}
.col1{
    width:33%;
    float: left;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:30px;
    padding-right:30px;
}
.col1 p{
    margin-top:10px;
}
.col1 img{
    width:80px;
    max-width: 100%;
    margin-bottom: 10px;
}
.col-wrapper::after{
    clear:both;
    display: table;
    content:"";
}
/*About us*/
.about{
    margin-top: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    color: black;
    background-image: url(images/1.jpg);
    background-size: 100%, 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.content
{
    width:80%;
    margin: auto;
    background-color: rgba(134, 72, 72, 0.2);
    margin-top: 30px;
    font-size: 1.1em;
}
.button1{
    background: rgba(0,0,0,0.2);
    padding:10px;
    margin-top: 20px;
    border:none;
    outline:1px solid black;
    cursor:pointer;
    color:black;
}
/* Team Section*/
.team{
    margin-top: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    background: rgb(250, 214, 214);
    width:100%;
    text-align: center;
}
.team-wrapper{
    width:90%;
    padding-top: 50px;
    margin:auto;
}
.col2{
    width: 33%;
    float:left;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left:30px;
    padding-right:30px;
}
.col2 img{
    width:80px;
    max-width: 100%;
    border-bottom: 1px solid black;
    padding-bottom:10px;
}
.divided-col{
    max-width: 200px;
    max-height: 1070px;
    border:1px solid rgba(0,0,0,0.5);
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.5);
}
.team-wrapper::after{
    clear:both;
    content:"";
    display: table;
}
/* Contact */
.contact{
    width:100%;
    background: rgb(250, 214, 214);
    margin-top:10px;
}
.bar{
    background: yellow;
    width: 100%;
    padding-top: 30px;
    padding-bottom:30px;
    padding-left:5px;
    padding-right:5px;
}

.bar1{
    width:33%;
    float: left;
    text-align: center;
}   
.bar1 h3{
    display: inline;
}
.bar::after{
    clear: both;
    content:"";
    display:table;
} 

/* Contact Column*/
.info{
    background:rgb(250, 214, 214);
    width:100%;
    margin-top:10px;
    padding-top: 30px;
    padding-bottom:30px;
    padding-left:5px;
    padding-right:5px;
    text-align: center;
}
.info::after{
    clear:both;
    content:"";
    display:table;
}
.info-col1{
    width:35%;
    float:left;
    text-align:center;
    padding-top: 30px;
    padding-bottom:30px;
    padding-left:5px;
    padding-right:5px;
}
.info-col2{
    width:65%;
    float:left;
    padding-top: 30px;
    padding-bottom:30px;
    padding-left:5px;
    padding-right:10%;
}
.social-icons{
    padding:15px;
    border:1px dotted black;
    margin-top:15px;
}
.fb{
    background: rgb(2, 42, 65);
    color:white;
}
.tw{
    color:white;
    background:rgb(40, 211, 241) ;
}
.in{
    color:white;
    background:rgb(230, 29, 230) ;
}
.go{
    color:white;
    background: rgb(11, 214, 28);
}
/*Form styles*/
.form-col{
    float:left;
    width:48%;
    margin-right: 2%;
    text-align: left;
}
.fname, .femail{
    width:100%;
    height:35px;
    padding: 0px 5px 0px 5px;
    background: white;
    border:none;
    outline:none;
}
.msg{
    width:100%;
    height:250px;
    border:none;
    outline:none;
}
.sendbutton{
    background-color: rgba(0,0,0,0.2);
    border:none;
    background: yellow;
    outline:1px solid black;
    padding: 10px 30px 10px 30px;
    margin-top:10px;
    cursor:pointer;
}
/*Footer*/

.footer{
    background: black;
    color:#eee;
    width:100%;
    padding: 50px 10px 50px 10px;
    margin-top: 10px;
}
.footer::after{
    clear:both;
    content:"";
    display:table;
}
.footer h2{
    color:white;
    padding-top: 30px;
}
.footer-col{
    width:33%;
    float:left;
    padding: 5px 10px 5px 10px;
}

/*CSS Media Queries*/
@media screen and (max-width: 500px){
    .col1{
        width:100%;
        padding-top: 100px;
    }
    .col2{
        width:100%;
        padding-top: 100px;
    }
    .bar1{
        width:100%;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .info-col1{
        width:100%;
    }
    .info-col2{
        width:100%;
        padding-right:0%;
    }
    .form{
        width:100%;
    }
    .footer-col{
        width:100%;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}